name: Build LSPosed Module

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: 17

    - name: Setup Android SDK
      uses: android-actions/setup-android@v3

    - name: Grant gradlew permission
      run: chmod +x gradlew

    - name: Build module
      run: ./gradlew assembleRelease

    - name: Upload LSPosed module
      uses: actions/upload-artifact@v4
      with:
        name: Alphard-LSPosed-module
        path: app/build/outputs/aar/*.aar
